<div class="container-fluid">
    <form action="/registrar" method="POST">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre"/>
        <label for="contrasena">Contraseña</label>
        <input type="text" id="contrasena" name="contrasena"/>
        <label for="email">Correo</label>
        <input type="email" id="email" name="email"/>
        <label for="rol">Rol</label>
        <input type="text" id="rol" name="rol"/>
        <button id="envio">Enviar Formulario</button>
    </form>
</div>
